.container{
    width: 700px;
    height: 600px;
    position: relative;
    margin: auto;
    border: 1px solid black;
}
.sq{
    width: 100px;
    position: absolute;
    height: 100px;
    border: 2px solid red;
}
.square1{
    top: 0;
    left: 0;
}
.square2{
    top: 0;
    right: 0;
}
.square3{
    bottom: 0;
    left: 0;
}
.square4{
    bottom: 0;
    right: 0;
}
.ci{
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50%;
    border: 2px solid green;
}
.circle1{
   top: 0;
   right: 0;
   left: 0;
   margin: auto;
}
.circle2{
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    
}
.circle3{
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}
.circle4{
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    
}
h1{
    text-align: center;
    margin-top: 40%;
}
